* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

html {

}

body {
    background-color: rgb(114, 4, 4);
}

body * {
    
}

.navbar {
    display: block;
    width: 100%;
    
}

.navbar form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    outline: 3px solid rgba(0, 0, 0, 20%);
}

.navbar label {
    border: none;
}

.navbar form input[type="button"] {
    margin-right: 40px;
    float: right;
    background-color: transparent;
    border: 0px;
}

#container-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.box {
    position: relative;
    border: 1px solid black;
    border-radius: 16px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.photo {
    border: 1px solid black;
    border-radius: 16px;
    width: 200px;
    height: 150px;
}

.title {
    border: 1px solid black;
    width: 200px;
    height: 20px;
}

.price {
    border: 1px solid black;
    width: 120px;
    height: 20px;
}

