* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(114, 4, 4);
}

.navbar {
    display: block;
    width: 100%;
    color: black;
    font-weight: bold;
}

.navbar form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.navbar input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    outline: 3px solid rgba(0, 0, 0, 20%);
}

.navbar label {
    border: none;
}

.navbar form input[type="button"] {
    margin-right: 40px;
    float: right;
    background-color: transparent;
    border: 0px;
}

.line {
    width: 90%;
    height: 1px;
    margin: 10px auto;
    background-color: black;
    filter: drop-shadow(0px 0px 2px black);
    border-radius: 25px;
}

#container-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    color: black;
    font-size: 20px;
    filter: drop-shadow(0px 0px 2px black);
}

.box {
    position: relative;
    border: 1px solid black;
    border-radius: 16px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.photo {
    border: 1px solid black;
    border-radius: 16px;
    width: 200px;
    height: 150px;
}

.title {
    border: 1px solid black;
    width: 200px;
    height: 35px;
    text-align: center;
}

.price {
    border: 1px solid black;
    width: 120px;
    height: 35px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .navbar form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (min-width: 1px) {
    .navbar form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

